.planet{
  position:absolute;

  right:-120px;
  bottom:-140px;

  width:720px;
  height:720px;

  border-radius:50%;

  background:
    radial-gradient(
      circle at 35% 30%,
      #bcd3e8,
      #5e7f9e 40%,
      #1a2d40 75%
    );

  box-shadow:
    -80px -40px 120px rgba(140,200,255,.25) inset,
    0 0 120px rgba(120,200,255,.15);

  opacity:.95;

  pointer-events:none;
}