/* =====================================================
   WRAPPER
===================================================== */

.wrapper{
  position:relative;
}

/* =====================================================
   GRID
===================================================== */

.grid{
  display:grid;
  grid-template-columns:
    repeat(auto-fit, minmax(260px,260px));
  justify-content:center;
  gap:18px;
  max-width:1200px;
  margin:0 auto;
}