.planet{
  position:absolute;

  right:-120px;
  bottom:-120px;

  width:600px;
  height:600px;

  border-radius:50%;

  background:
    radial-gradient(
      circle at 35% 30%,
      #cfd9e5,
      #5c7a96 40%,
      #1c2e41 75%
    );

  box-shadow:
    -80px -40px 140px rgba(140,200,255,.35) inset,
    0 0 120px rgba(120,200,255,.15);

  pointer-events:none;
}